{% extends "food/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="search">
    <div class="content-section">
      <div class="media">
        
        <div class="media-body">
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    {% if user.is_superuser %}
    <center>
    <form method="POST">
        
        {% csrf_token %}
        
    from : <input type="date" name="fromdate"/>
    to: <input type="date" name="todate" />
    <input type="submit" value="Search" name="search"/>
    <input type="submit" name="Export" value="Export"/>
    <hr>
    <table border="1"> 
        <tr>
            <th>Employ name</th>
            <th>ordered items</th>
            <th>total price</th>
            <th>date ordered</th>
        </tr>
        
        {% for orderlist in searchresult %}

                <tr>
                    <td>{{ orderlist.employee }}</td>
                    <td>{% for i in orderlist.items.all %} {{ i }}, {% endfor%}</td>
                    <td>{{ orderlist.price }}$</td>
                    <td>{{ orderlist.date }}</td>
                    
                </tr>
            
        {% endfor %}
    </table>
    </form>
    </center>
    {% else %}
    <h4> This page is only for admin users</h4>
    <a href="{% url 'profile' %}">Profile</a>


    {% endif %}
 
</div>
{% endblock content %}